@import "base";

// torso styles
.n-torso{
	font: {
		family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
		weight: normal;
		size: 12px;
	}
	line-height:1.4;
	background-color: #fff;
	padding: 10px 10px 25px;
	color: #2d2d2d;
	overflow: hidden;
	a{
		color: #176bc1;
	}
	h2{
		margin: 0;
		padding: 0;
	}
	ul,ol{
		margin: 0;
		padding: 0;
	}
	li{
		list-style: none;
	}
	p{
		padding: 0;
		margin: 0;
		font-size: 12px;
		font-weight: normal;
	}
	// clear fix
	.clear{
		clear: both;
		overflow: hidden;
		font-size: 0;
	}

	// CONTENT
	.n-content{
		float: left;
		width: 725px;
		overflow: hidden;
	}
		// location goes here
		.n-location{
			margin-bottom: 13px;
			.n-btn-join{
				background-color: #075fa8;
				margin-left: 6px;
				border: 1px solid transparent;
			}
			.n-btn-invite{
				background-color: #71addb;
				border: 1px solid transparent;
			}
		}
			.n-content__nav{
				height: 41px;
				line-height: 40px;
				background-color: #eaf0f7;
				color: #176bc1;
				li{
					list-style: none;
				}
				a{
					color: #176bc1;
					text-decoration: none;
					display: block;
					border: 1px solid transparent;
					border-bottom: none;
					&:hover{
						color: #2190fb;
						border: 1px solid #aecbef;
						border-bottom: none;
						background-color: #f1f1f1;
						@include background-image(linear-gradient(#fff, #f1f1f1));
					}
					&.active{
						color: #2190fb;
						border: 1px solid #aecbef;
						border-bottom: none;
						background-color: #f1f1f1;
						@include background-image(linear-gradient(#fff, #f1f1f1));
					}
				}
			}
				.n-content__nav-primary{
					float: left;
					margin: 0;
					padding: 0;
					a{
						padding: 0 10px 0 12px;
					}
					li{
						float: left;
						margin-left: -1px;
						&:first-child{
							margin-left: 0;
						}
					}
				}
				.n-content__nav-secondary{
					float: right;
				}
					.n-content__nav__drop{
						position: relative;
						z-index: 20;
						display: inline-block;
						height: 40px;
						line-height: 40px;
						color: #176bc1;
						border: 1px solid transparent;
						border-bottom: none;
						&:hover{
							// color: #2190fb;
							border: 1px solid #aecbef;
							border-bottom: none;
							background-color: #f1f1f1;
							@include background-image(linear-gradient(#fff, #f1f1f1));
							ul{
								display: block;
								width: 100%;
							}
						}
						i{
							@include sized-sprite($icons, arrow);
							position: absolute;
							top: 19px;
							right: 10px;
						}
						span{
							display: inline-block;
							padding: 0 24px 0 11px;
							cursor: pointer;
						}
						ul{
							display: none;
							position: absolute;
							top: 40px;
							left: -1px;
							margin: 0;
							padding: 0;
							background-color: #fafafa;
							border: 1px solid #ddebf9;
							border-top: none;
							li{
								cursor: pointer;
								line-height: 1;
								margin: 10px 0;
								padding-left: 11px;
								&:hover{
									text-decoration: underline;
								}
							}
						}
					}


			//map
			.n-map{
				// yandex-map
				margin-bottom: 5px;
			}
			//place
			.n-place{
				overflow: hidden;
				margin-top: 10px;
			}
				.n-place__item{
					margin-bottom: 15px;
				}
					.n-place__img{
						float: left;
						width: 202px;
						overflow: hidden;
						margin-right: 15px;
						max-height: 125px;
					}
					.n-place__info{
						overflow: hidden;
						h2{
							font-size: 20px;
							color: #000;
							font-family: 'FuturaDemiC', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
						}
						p{
							color: #2d2d2d;
						}
					}
						.n-place__gathering {
							color: #a3a3a3;
							margin: 13px 0 15px;
							font-size: 12px;
							font-weight: normal;
							a{
								text-decoration: underline;
								&:hover{
									text-decoration: none;
								}
							}
						}
						.n-rating{
							font-size: 20px;
							font-weight: bold;
							.n-rating__img{
								display: inline-block;
								margin-right: 10px;
								width: 65px;
								overflow: hidden;
							}
							.n-rating__rate{
								display: inline-block;
							}
							.n-rating__col1{
								float: left;
								border-right: 1px solid #e4eefa;
								color: #c8ae5d;
								padding-right: 10px;
							}
							.n-rating__col2{
								overflow: hidden;
								color: #0c4da2;
								padding-left: 10px;
							}
						}
				//n-matches
				.n-matches{
					h2{
						font-size: 16px;
						text-transform: uppercase;
						color: #176bc1;
						border-bottom: 1px solid #ececec;
					}
					li{
						border-bottom: 1px solid #ececec;
					}
				}
					.n-matches__versus{
						overflow: hidden;
						height: 90px; //tmp
						padding: 15px 0; //tmp
					}
						.n-versus__media,
						.n-versus__media-img,
						.n-versus__info{float: left;}
						.n-versus__gathering{float: right;}
							.n-versus__media{
								width: 148px;
								line-height: 90px;
								overflow: hidden;
								position: relative;
								i{
									@include sized-sprite($icons, colon_ico);
									position: absolute;
									top: 50%;
									left: 61px;
								}
							}
								.n-versus__media-img{
									width: 55px;
									margin-right: 15px;
								}
							.n-versus__info{
								padding-top: 17px;
								h3{
									margin: 0 0 2px 0;
									font-size: 16px;
									color: #000;
									font-weight: bold;
									font-family: 'FuturaDemiC', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
								}
							}
							.n-versus__gathering{
								text-align: right;
								color: #a3a3a3;
								padding-top: 13px;
								a{
									color: #176bc1;
									text-decoration: underline;
									&:hover{
										text-decoration: none;
									}
								}
							}
								.n-versus__invite{
									margin-top: 5px;
								}
				.n-places__list{
					h3{
						font-size: 16px;
						font-weight: bold;
						color: #000;
						width: 445px;
					}
					p{
						font-size: 12px;
					}
					ol{
						margin-left: 10px;
					}
					li{
						list-style-type: decimal;
						list-style-position: inside;
						position: relative;
						color: #000;
						font-size: 16px;
						font-weight: bold;
						border-top: 1px solid #ececec;
						padding: 15px 0;
						&:first-child{
							border-top: none;
						}
					}
					.n-place__gathering,
					.n-places__btn,
					p{
						padding-left: 20px;
					}
					.n-rating{
						position: absolute;
						right: 0;
						top: 15px;
					}
				}

				.n-places__btn{
					.n-btn-invite{
						margin-left: 4px;
					}
					.n-btn-join{
						margin-left: 0;
					}
				}



			// search
			.n-location__search{
				margin-top: 5px;
				overflow: hidden;
			}
			.n-btn-search{
				float: right;
				width: 95px;
				padding: 0;
				height: 28px !important;
			}
				.n-input{
					width: 616px;
					height: 26px;
					padding-left: 9px;
					border: 1px solid #dcdcdc;
					background-color: #f7f7f7;
					//color: #c5c5c5;
					font-size: 11px;
					font-family: 'FuturaDemiC', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
					float: left;
				}
				.n-btn{
					height: 26px;
					line-height: 28px;
					display: inline-block;
					vertical-align: middle;
					padding: 0 11px;
					font-family: 'FuturaDemiC', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
					cursor: pointer;
					background-color: #3f88e2;
					border: 1px solid #2d71dc;
					color: #fff !important;
					font-size: 11px;
					font-weight: bold;
					border-radius: 2px;
					text-decoration: none !important;
					text-transform: uppercase;
					//float: right;
					&:hover{
						background-color: #3879c8;
					}
					&:active{
						background: #2d71dc;
						box-shadow: inset rgba(84,6,90,.12) 0px 2px 4px;
					}
				}

		// comments go here
		.n-comments{
			margin-top: 13px;
			.n-btn{
				font-family: 'FuturaDemiC', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
				text-transform: uppercase;
				font-size: 10px;
				background-color: #71addb;
				border: 1px solid transparent;
				padding: 0 10px;
				height: 21px;
				line-height: 23px;
				display: inline-block;
				&:hover,
				&:active{
					text-decoration: none;
					background-color: #4b96cf;
					border: 1px solid #69a3cf;
				}
			}
		}
			.n-comments__title{
				color: #176bc1;
				text-transform: uppercase;
				font-family: 'FuturaDemiC', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
				font-size: 16px;
				margin-bottom: 3px;
			}
			// add new comment
			.n-comment__add{
				margin-top: 3px;
				background-color: #f7f7f7;
				padding: 10px;
				margin-bottom: 10px;
				textarea{
					width: 698px;
					height: 72px;
					resize: none;
					margin-bottom: 1px;
					float: none;
					background-color: #fafafa;
					padding: 3px;
				}
			}
				.n-comment__add-media{
					display: inline-block;
					font-size: 11px;
					margin-left: 11px;
					position: relative;
					&:hover{
						span{
							text-decoration: underline;
						}
						ul{
							display: block;
						}
					}
					span{
						cursor: pointer;
						text-decoration: none;
						color: #176bc1;
					}
					ul{
						display: none;
						z-index: 1;
						position: absolute;
						top: 15px;
						left: -10px;
						background-color: #f7f7f7;
						padding:  5px 10px 5px;
						-webkit-border-radius: 5px;
						border-radius: 5px;
					}
					li{
						position: relative;
						white-space: nowrap;
						line-height: 19px;
						a{
							text-decoration: none;
						}
					}
					i{
						margin-right: 5px;
						display: inline-block;
					}
				}

				.n-media__video{@include sized-sprite($icons, video_ico);}
				.n-media__photo{@include sized-sprite($icons, photo_ico);}

			.n-comment{
				border-top: 1px solid #ececec;
				padding: 14px 0;
				overflow: hidden;
				color: #2d2d2d;
				//min-height: 85px;
				&:first-child{
					border-top: none;
					padding-top: 0;
				}
			}
				.n-comment__userpic{
					float: left;
					margin-right: 14px;
					overflow: hidden;
					width: 70px;
					img{
						max-width: 70px; 
						min-height: 70px;
					}
				}
				.n-comment__wrap{
					position: relative;
					overflow: hidden;
				}

					.n-comment__text{
						margin-right: 70px;
						overflow: hidden;
						color: #000;
						margin-bottom: 6px;
						p{
							margin-bottom: 1em;
						}
					}
					.n-comment__reply-to{
						font-size: 11px;
						color: #096aa7;
						margin: 6px 0;
					}
					.n-comment__meta{
						margin-bottom: 6px;
						margin-top: 2px;
						font-size: 11px;
						a{
							text-decoration: underline;
							padding: 0 7px;
							&:hover{
								text-decoration: underline;
							}
							&:first-child{
								border-right: 1px solid #d3d3d3;
								padding: 0 7px 0 0;
							}
						}
						span{
							border-right: 1px solid #d3d3d3;
							padding: 0 7px;
						}
					}
					.n-mark__holder {
						position: absolute;
						right: 39px;
						top: 33px;
						.n-mark{
							position: relative;
						}
						.n-mark__score{
							color: #176bc1;
							font-size: 10px;
							&.n-mark__positive{
								color: #2a9332;
							}
							&.n-mark__negative{
								color: #bd151c;
							}
						}
						i{
							position: absolute;
							right: -20px;
							cursor: pointer;
						}
						.n-mark__plus{
							@include sized-sprite($icons, plus_ico);
							top: -7px;
							&:hover{
								@include sized-sprite($icons, plus_hover_ico);
							}
						}
						.n-mark__minus{
							@include sized-sprite($icons, minus_ico);
							top: 9px;
							&:hover{
								@include sized-sprite($icons, minus_hover_ico);
							}
						}
					}
					.n-comment__options{
						margin-top: 6px;
						margin-bottom: 6px;
						a{
							color: #0096ff;
							font-size: 10px;
							border-left: 1px solid #d3d3d3;
							padding: 0 5px;
							&:first-child{
								border-left: none;
								padding: 0 5px 0 0;
							}
						}
					}
					.n-comment__thread{
						position: relative;
						background-color: #f7f7f7;
						margin-top: 20px;
						padding: 12px;
						&:before{
							position: absolute;
							top: -9px;
							left: 20px;
							content: "";
							@include sized-sprite($icons, reply_arr);
						}
						.n-comment{
							border-top: none;
						}
						.n-comment__userpic{
							width: 50px;
							overflow: hidden;
							img{
								max-width: 50px;
								min-height: 50px;
							}
						}
					}
						.n-reply{
							resize: none;
							width: 607px;
							height: 73px;
							margin: 8px 0;
						}
						.n-add-reply_username{
							display: inline-block;
							height: 12px;
							line-height: 12px;
							font-size: 10px;
							color: #096aa7;
							cursor: pointer;
							i{
								@include sized-sprite($icons, close_ico);
								display: inline-block;
								vertical-align: middle;
								margin-left: 3px;
							}
						}


			// comments page-nav
			.n-comments__page-nav{
				border-top: 1px solid #ececec;
				padding-top: 10px;
				margin-bottom: 2px;
				text-align: right;
				color: #176bc1;
				font-weight: bold;
				font-size: 11px;
				ul{
					display: inline-block;
					margin-left: 5px;
				}
				li{
					display: inline-block;
					color: #3878a0;
					a{
						padding: 2px 5px;
						text-decoration: none;
						background-color: #f5f5f5;
						-webkit-border-radius: 2px;
						border-radius: 2px;
						text-align: center;
						//color: #3878a0;
						&:hover{
							background-color: #c1d8ee;
						}
						&.current{
							background-color: #c1d8ee;
							color: #fff;
						}
					}
				}
			}









	// ASIDE
	.n-aside{
		//background-color: #f90; //tmp
		float: right;
		width: 249px;
		overflow: hidden;
	}

		// popular articles
		.n-popular{
			border: 1px solid #eaf0f7;
			border-left: none;
			background-color: #fff; //tmp
			margin-bottom: 9px;
			font-size: 11px;
			padding-bottom: 2px;
		}
			.n-popular__title{
				height: 40px;
				margin: 0 0 2px 0;
				line-height: 40px;
				padding: 0 11px;
				color: #3c3c3c;
				font-size: 12px;
				background-color: #eaf0f7;
				font-weight: bold;
			}
			.n-popular__text{
					margin-left: 10px;
					overflow: auto;
					max-height: 350px;
				ol{
					margin: 10px 5px 10px 18px;
					li{
						list-style-type: decimal;
						list-style-position: outside;
						color: #000;
						margin-bottom: 17px;
						a{
							font-weight: bold;
							text-decoration: underline;
							&:hover{
								text-decoration: none;
							}
						}
						.n-popular__gathering{
							color: #a3a3a3;
							a{
								font-weight: normal;
							}
						}
					}
				}
			}

		//advertising
		.n-adv{
			float: right;
			max-width: 240px;
			margin: 0 0 9px;
		}



		.n-lightbox{
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: none;
			z-index: 10010;
			background-color: rgba(0,0,0,.8);
			&.n-open{
				display: block;
			}
		}

		.n-popup__holder{
			display: none;
			width: 445px;
			position: absolute;
			top: 300px;
			left: 50%;
			margin: 0 0 0 -240px;
			padding: 7px;
			z-index: 10020;
			&.n-open{
				display: block;
			}
		}

			.n-popup{
				position: relative;
				display: inline-block;
				width: 425px;
				min-height: 105px;
				padding: 20px 10px 0;
				margin-bottom: 95px;
				color: #a2a2a2;
				background-color: #fff;
				border: 7px solid #f2f9ff;
				i{
					@include sized-sprite($icons, lightbox_close_ico);
					position: absolute;
					top: -7px;
					right: -7px;
					cursor: pointer;
				}
				a{
					color: #176bc1;
					text-decoration: underline;
					&:hover{
						text-decoration: none;
					}
				}
			}

				.n-gathering{
					color: #a3a3a3;
				}

				.n-popup__members{
					margin-top: 27px;
					li{
						display: inline-block;
						width: 68px;
						text-align: center;
						margin-bottom: 15px;
						overflow: hidden;
						a{
							display: block;
							overflow: hidden;
							-ms-text-overflow: ellipsis;
							text-overflow: ellipsis;
						}
					}
				}
				.n-popup__userpic{
					height: 30px;
					margin-bottom: 8px;
					overflow: hidden;
				}

				.n-popup-nav{
					margin-bottom: 10px;
					border-top: 1px solid #d8e6f0;
					color: #1259a1;
					li{
						a{
							&.current{
								background-color: #125aa2;
								@include background-image(linear-gradient(#125aa2, #4996cb));
								width: 25px;
								height: 23px;
							}
						}
					}
				}

























// * CSS Styles that are needed by jScrollPane for it to operate correctly.
// *
// * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
// * may not operate correctly without them.
.horizontal-only
{
	height: auto;
	max-height: 200px;
}

.jspContainer
{
	overflow: hidden;
	position: relative;
}

.jspPane
{
	position: absolute;
}

.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 2px;
	width: 4px;
	height: 100%;
}

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: red;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
	margin: 0;
	padding: 0;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	background: #faf7f7;
	position: relative;
	border-radius: 2px;
}

.jspDrag
{
	background: #d0e1f6;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
	border-radius: 2px;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	background: #faf7f7;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.jspArrow.jspDisabled
{
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow
{
	height: 16px;
}

.jspHorizontalBar .jspArrow
{
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}



//end page styles
}
